# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------- Virtual Environment ----------------
venv/
.env/

# ---------------- Models ----------------
*.pt
*.onnx
*.engine

# ---------------- Videos / Runtime Assets ----------------
videos/

# ---------------- Logs ----------------
*.log
*.tmp
*.bak

# ---------------- OS ----------------
.DS_Store
Thumbs.db
.Trash-*

# ---------------- IDE ----------------
.vscode/
.idea/

# ---------------- Training Outputs ----------------
runs/
outputs/
cache/
datasets/
